extend _master

block content
    <h1>Liste des commandes</h1>
    <hr>
    <p>Vous êtes ici : <a href="/" title="Retour à la liste des commandes">Liste des commandes</a></p>
    <hr>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de la commande</th>
                <th>Client</th>
                <th>Nombre de produits</th>
            </tr>
        </thead>
        <tbody>
            // ...
        </tbody>
    </table>
